{
  "presets": ["env", "react"],
  "plugins": ["transform-runtime",
    ["transform-flow-strip-types",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}