version: 2
references:
  container_config: &container_config
    docker:
    - image: circleci/node:16.13.2-jessie
    working_directory: ~/repo
    parallelism: 1
# Jobs
jobs:
  # Build
  build:
    <<: *container_config
    steps:
    - checkout
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "package.json" }}
        - v1-dependencies- # fallback to using the latest cache if no exact match is found
    - run:
        name: Install npm pacakges
        command: npm install
    - run:
        name: Transpile typescript to es5
        command: 'npm run build:lib'
    - save_cache:
        key: v1-dependencies-{{ checksum "package.json" }}
        paths:
        - node_modules
    - persist_to_workspace:
        root: ~/repo
        paths: .

  deploy:
    <<: *container_config
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: npm publish
# Workflow
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/