@import '../../../scss/harmoware.scss';

div.real_sample_controller {
  font-size: 10pt; 
  z-index: 100; 
  position: fixed; 
  top: 10px; 
  right: 20px;
  width: 260px;
  ul {
    list-style-type: none;
    li {
      margin: 0px 0px 8px 0px;
    }
    div.form-check {
      input[type="checkbox"],label {
        cursor: pointer;
      }
    }
  }
  div.real_sample_input_button_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
      input[type="file"] {
        display: none;
      }
    }
    div {
      white-space: nowrap;
      overflow: hidden;
      text-Overflow: ellipsis;
      margin: -6px 0px 0px 0px;
    }
  }
  input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
  }
  span.button_span {
    display: flex;
    justify-content: center;
  }
}
