@import '../../../scss/harmoware.scss';

.harmovis_controller {
  @extend .harmovis_controller;
  width: 260px;
}

.nowrapstyle {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-Overflow: ellipsis;
}
