select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 23px;
}

input[type="range"] {
  width: 100%;
}

.harmovis_controller__list__button {
  padding: 5px;
  display: flex;
}

#controller_area {
  input.caInput {
    flex-grow: 1;
    > span {
      padding: 0px;
      display: flex;
    }
  }
  button.caButton {
    flex-grow: 1;
    height: 26px;
    > span {
      padding: 0px;
      display: flex;
      > span {
        padding: 0px;
        display: flex;
      }
    }
  }
  input.caRange {
    flex-grow: 1;
  }
  span.caSpan {
    display: flex;
    flex-grow: 1;
  }
}
