@import '../../../scss/harmoware.scss';

.harmovis_controller {
  @extend .harmovis_controller;
  width: 260px;
  ul li select {
    background-color: #808080;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 14px;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    border-width: 0px;
    box-shadow: 1px 1px 1px #555;
  }
}
