body {
    margin: 0px;
    padding: 0;
    overflow: hidden;
    color: white;
    background-color: black;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  select {
    background-color: #808080;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 14px;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    border-width: 0px;
    box-shadow: 1px 1px 1px #555;
  }
  
  #header_area {
    left: 10px;
  }
  
  #controller_area {
    right: 10px;
    width: 260px;
  }
  
  .harmovis_controller__list__item {
    display: flex;
  }